body {
    background:#1c1b1b;
    color:#666;
    font-family:"Arial", sans-serif; 
}

h1 {
    text-align:center;
    color:#fff;
}

.clrside {
    clear: both;
}

#container {
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background:#666;
    padding-bottom:40px; 
    border-radius:10px;
}

#board li {
    float: left;
    margin:10px;
    height:70px; 
    width:70px;
    font-size:55px;
    background:#333;
    color:#ccc;
    list-style:none;
    text-align:center;
}

#board li:hover{
    cursor:pointer;
    background:#000;
}

#reset {
    border:0;
    background:#444;
    color:#fff;
    width:70%;
    padding:15px;
    border-radius:5px;
}